* { margin: 0; padding:0;   list-style: none; box-sizing: border-box; color: inherit; text-decoration: none; color: black}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap'); /*궁서체 - 블핑 컨텐트용*/

.iveMain{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 100px;
   background-color: rgb(0, 0, 0);
  padding-top: 400px;
   

  
}


.iveMain_content{
   font-family: 'Noto Serif KR', serif;
   font-size: 19px;
   margin-top: 100px;
   line-height: 38px;
  
}

.albumlist_ive{
   padding: 20px 0;
   margin-top: 25px;
}

.albumlist_ive h3{
   font-family: 'Noto Serif KR', serif;
   font-weight: 800;
   margin-bottom: 10px;
   color:rgba(255, 255, 255, 0.786);
  
}

.albumlist_ive h3 p{
   background-color: rgba(71, 255, 47, 0.892);
   width: 90px;
   padding:  4px 10px;
   margin-left: 10px;
   color: rgb(252, 252, 250);
   display: inline;
   text-align: center;

  

}
.albumlist_ive span{
   font-family: 'Noto Serif KR', serif;
   line-height: 35px;
   color:rgba(255, 255, 255, 0.786);
}







