* { margin: 0; padding:0;   list-style: none; box-sizing: border-box; color: inherit; text-decoration: none; }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap'); 

/* 이도현 프로필 사진 CSS */
.artistAboutLee_page{
  
    overflow: hidden;
  
}

.artistAboutLee{
    float: left;
    margin-left: 100px;
    position: relative;
    width: 530px;
    height: 675px;
    margin-top: 80px;
}

.artist_img_shadow{
    position: absolute;
    width: 450px;
    height: 590px;
    top: 0;
    left: 0;
    background-color: rgba(124, 54, 5, 0.358);
  
}

.artist_img_box{
    position: relative;
    width: 86%;
    margin: 0 auto;
    top: 30px;
    left: 0;
    box-shadow: 15px 15px 20px 0 #bdbcbc96;
}

.artist_img_box img{
    width: 100%;
    object-fit: fill;
    vertical-align: bottom;
}

/* 이도현 활동 내역 CSS */
.artistAboutLee_activity{
    display: flex;
    flex-direction: column;
    margin-top: 83px;
   padding-left: 60px;

}

.artistAboutLee_name_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;

}

.artistAboutLee_name_eng{
    font-family: 'Song Myung', serif;
    font-size: 50px;
    font-weight: 800;
}


.artistAboutLee_name_kor{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;

}

.artistAboutLee_birth{
    font-size: 25px;
    font-family: 'Song Myung', serif;
    /* margin-bottom: 30px; */
}

.artistAboutLee_drama{
    margin-top: 10px;
}

/* 사이드 바 CSS */
.side1{
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
    min-width: 1200px;
    max-width: 1200px;
}

.sidebar1{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-align: center;
    right: -75px;
    -webkit-transform: rotate(90deg);
    letter-spacing: 0.1em;
    position: fixed;
    width: 350px;
    top: 400px;
    text-align: center;
}

.sidebar1 span{
    display: inline-block;
    width: 230px;
    vertical-align: middle;
    margin: 0 25px;
}

/* 이도현 갤러리 css */
.galleryBox div {
    float: left;
}


.artistAboutLee_gallery{
    font-family: 'Song Myung', serif;
    font-size: 35px;
    font-weight: 800;
    
  
}


.artistAboutLee_gallery_img {
    display: flex;
    justify-content: center;
    align-items: center;

}

.artistAboutLee_gallery_img div {
    margin: 5px 10px;
}
/* 
.gallery_hover{
    overflow: hidden;
    position: relative;
} */

/* .gallery_hover img{
    border: 0;
    transition: all 0.3s ease-in-out;
} */
/* .gallery_plus{
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.gallery_plus:hover{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background: url(http://www.yhfamily.co.kr/image/sub/dm.png) no-repeat center center;
} */

/* 이도현 칭찬 내용 css*/

.bluefrog {
    margin-top: 30px;
    padding: 0 20px;
}

.bluefrog p {
    font-family: 'Song Myung', serif;
    font-size: 24px;
    font-weight: 600;
   

}

.bluefrog >span {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 35px;
}