* {margin: 0; padding:0;  list-style: none; box-sizing: border-box; color: inherit; text-decoration: none !important;}

.body {
  font-family:  'Nanum Gothic', sans-serif;
  font-weight: 500;
}

/* 스와이퍼 */
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');
/* 폰트 1 */
/* @import url( "/css/product_page/product_page.css"); */
@import url("https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" );
/* 폰트 2 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@900&display=swap');
/* 폰트 3 - 나눔 고딕 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

/* header */
.header_main_menu ul{
  display: flex;
}

.header_main{
 position: absolute;
 top: 120px;
 left: 90px;
 z-index: 5;
 width: 1200px;
 overflow: hidden;
}


.header_main_menu .header_main_menu_bar li {
  font-family: 'Noto Rashi Hebrew', serif;
  font-size: 16px;
  color:rgba(3, 8, 34, 0.851);
}

/********* 조장님이 만든 소중한 아이콘들 **********/

.header1_user_bar_box{
  width: 100%;
  margin:0;
  background-color: rgba(248, 238, 219, 0.279);
  padding: 10px;
  margin-bottom: 40px;
}

.header1_user_bar{
  width: 1200px;
  height: 45px;
  line-height: 45px;
}

.main_header_inner2 {
    float: left;
   margin:0;
    padding-left: 0px;
     
}

.main_header_inner2 li {
 display: inline-block;

}

.main_header_inner2 li a {
 display: block;
 text-decoration: none;
 cursor: default;
 width: 50px;
 box-sizing: border-box;
}

.main_header_inner2 .header_middle_user img {
 width: 35px;
 height: 36px;
 margin: 0px 27px 0px 0px;
 cursor: pointer;
}

.main_header_inner2 li span {
 display: block;
 text-align: center;
 font-size: 10pt;

}



/* 메뉴바 드롭다운 부분 */
.header1_bottom{
  overflow: hidden;
  width: 1280px;

}

.header1-bottom .header_main_menu_logo{
  float: right;
  margin-right: 100px;
}

.header1-bottom .header_main_menu_logo .logo img {
  width:115px; height: 80px; margin-left:1300px;
}

.header_main_menu .header_main_menu_bar li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_main_menu .header_main_menu_bar > li > .menu_bar1 {
 display: flex;
 flex-direction: column;
 height: 0px;
 position: absolute;
 z-index: -30; 
 overflow: hidden;
 transition: height ease-out 0.5s 0s;

}

.header_main_menu_bar li span a:hover{
  color: rgba(207, 193, 202, 0.742);
   transition: ease-out 0.5s 0s;
}

.header_main_menu .menu_bar1 li {
  
 position: relative;
 height: 40px;
 top: 30px;
 left:0;
 font-weight :800;
 font-size: 16px;
 font-family: 'Nanum Gothic', sans-serif;
 cursor: pointer;
 z-index: 1000000;
 

}

/* 메뉴바 상단 고정 관련 CSS */

.header_main_menu .header_main_menu_bar > li{
  float:left;
  margin: 0 55px;   
}

.header_main_menu {
  overflow: hidden;
}

.header_main_menu .header_main_menu_bar{
  float: left;
}

.header_main_menu .header_main_menu_logo{
  float: right;
  
}
.header_main_menu .header_main_menu_logo div{
  padding-top: 30px;
}










/* footer */
.footer_outer {
  /* position: fixed;
  bottom: 0px; */
  position: static;
  bottom: 0px;
  width: 100%;
  background-color: rgba(248, 238, 219, 0.279);
  z-index: 5;
  margin-top: 20px;
}

footer {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  padding: 25px 0px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 5;
}

footer .footer_inner {
  overflow: hidden;
  color: black;
  height: 200px;
  padding: 25px 0px;
}

footer .footer_inner .footer_left {
  float: left;
}

footer .footer_inner .footer_left img {
  width: 130px;
  height: 95px;
  margin-right:56px;
  display: inline-block;
}

footer .footer_inner .footer_left > div {
  font-size: 13px;
  line-height: 25px;
}

footer .footer_inner .footer_left2 {
  margin-top: 10px;
}

footer .footer_inner .footer_right {
  float: right;
  margin-top: 10px;
}

footer .footer_inner .footer_right span {
  font-size: 13px;
  margin-left: 10px;
  cursor: pointer;
}